<div class='NewestTitleWrapper --top'>
  <div class='left'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
  <div class='text-center'>
    <h2 class='--weight'>
      <%= Spree.t('email_to_friend.tell_about', product: @object.name) %>
    </h2>
  </div>
  <div class='right'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
</div>

<div class='WishlistNew --emailtofriend'>
  <%= form_for(@mail_to_friend, url: email_to_friend_path(params[:type], @object)) do |f| -%>
    <%= render 'spree/shared/error_messages', target: @mail_to_friend %>
    <div class="form-group">
      <%= f.label(:sender_name, Spree.t('email_to_friend.sender_name')) %><br/>
      <%= f.text_field(:sender_name) %>
    </div>
    <div class="form-group">
      <%= f.label(:sender_email, Spree.t('email_to_friend.sender_email')) %><br/>
      <%= f.text_field(:sender_email) %>
    </div>
    <div class="form-group">
      <%= f.label(:recipient_name, Spree.t('email_to_friend.recipient_name')) %><br/>
      <%= f.text_field(:recipient_name) %>
    </div>
    <div class="form-group">
      <%= f.label(:recipient_email, Spree.t('email_to_friend.recipient_email')) %><br/>
      <%= f.text_field(:recipient_email) %>
    </div>
    <div class="form-group">
      <%= f.label(:message, Spree.t('email_to_friend.message')) %><br/>
      <%= f.text_area(:message) %>
    </div>
    <% if Spree::Captcha::Config[:use_captcha] %>
      <%= recaptcha_tags site_key: Spree::Captcha::Config[:site_key], display: { theme: Spree::Captcha::Config[:theme] } %>
    <% end %>
    <div class='text-center'>
      <%= f.submit Spree.t('email_to_friend.send_message'), :class => 'ButtonRadius --shadow --small --pink' %>
    </div>
  <% end %>
<div>
