<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
<div class='AuthView'>
  <div>
    <h1>Cambia tu contrasena</h1>
    <%= form_for @spree_user, :as => :spree_user, :url => spree.update_password_path, :method => :put do |f| %>
      <div class="form-group">
        <%= f.label :password, Spree.t(:password) %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
      <%= f.hidden_field :reset_password_token %>
      <div class='button-wrapper'>
        <%= f.submit Spree.t(:update), :class => 'ButtonRadius --shadow --small --pink' %>
      </div>
    <% end %>
  </div>
</div>
