<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
<div class='AuthView'>
  <div>
    <h1>Recupera tu contrasena</h1>
    <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
      <div class="form-group">
        <%= f.label :email, Spree.t(:email) %>
        <%= f.email_field :email, :class => "form-control" %>
      </div>
      <div class='button-wrapper'>
        <%= f.submit Spree.t(:reset_password), :class => 'ButtonRadius --shadow --small --pink' %>
      </div>
    <% end %>
  </div>
</div>
