<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header' %>

    <main>
      <div id="content" data-hook>
        <%= custom_bootstrap_flash %>
        <%= yield %>
      </div>
      <%= yield :templates %>
      <div id="snackbar">Some text some message..</div>
    </main>

    <%= render partial: 'spree/shared/footer' %>
  </body>
</html>

<!-- Yo aca quite y puse cosas... esperemos no se rompa, lo hice trabajando en home...>
