<% @body_id = 'cart' %>

<div data-hook="cart_container" class='PaddingSides --vertical Cart'>

  <% if @order.line_items.empty? %>
    <div class='empty_cart' data-hook="empty_cart">
      <h1><%= Spree.t(:shopping_cart) %> Empty</h1>
      <%= render partial: 'spree/shared/icon_empty_cart' %>
      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-pink' %></p>
    </div>
  <% else %>
    <h1><%= Spree.t(:shopping_cart) %></h1>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="table-responsive" style="border: none">
            <%= render partial: 'form', locals: { order_form: order_form } %>
          </div>

          <div class="links col-md-3 navbar-form pull-right text-right" data-hook="cart_buttons">
            <div class="form-group">
              <%= button_tag class: 'btn btn-pink', id: 'update-button' do %>
                <%= Spree.t(:update) %>
              <% end %>
              <%= button_tag class: 'btn btn-pink', id: 'checkout-link', name: 'checkout' do %>
                <%= Spree.t(:checkout) %>
              <% end %>
            </div>
          </div>

          <% if Spree::Frontend::Config[:coupon_codes_enabled] %>
            <div class='col-md-6 form-inline pull-right' data-hook='coupon_code'>
              <div class="form-group">
                <%= order_form.label :coupon_code %>
                <%= order_form.text_field :coupon_code, class: 'input-coupon' %>
                <%= button_tag Spree.t(:coupon_code_apply), class: 'btn btn-pink' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="empty-cart" class="col-md-3 pull-left" data-hook>
      <%= form_tag empty_cart_path, method: :put do %>
        <p id="clear_cart_link" data-hook>
          <%= submit_tag Spree.t(:empty_cart), class: 'btn btn-pink' %>
          <%= Spree.t(:or) %>
          <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-pink' %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  Spree.current_order_token = "<%= @order.token %>"
</script>
