<div class='PaddingSides --vertical'>
  <fieldset id="order_summary" data-hook>
    <% if order_just_completed?(@order) %>
      <h1><%= accurate_title %></h1>
      <span class='thank-you'><%= Spree.t(:thank_you_for_your_order) %></span>
    <% else %>
      <h1><%= Spree.t(:order) %></h1>
    <% end %>

    <div id="order" data-hook>
      <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>

      <br class="clear" />

      <p data-hook="links">
        <%= link_to Spree.t(:back_to_store), spree.root_path, class: 'btn btn-pink' %>
        <% unless order_just_completed?(@order) %>
          <% if try_spree_current_user && respond_to?(:account_path) %>
            <%= link_to Spree.t(:my_account), account_path, class: 'btn btn-pink' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </fieldset>
</div>
