<% @body_id = 'checkout-page' %>

<div class='Checkout PaddingSides --vertical'>

  <div id="checkout" data-hook>
    <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

    <div data-hook="checkout_header">
      <div>
        <h1 data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
      </div>
      <div data-hook="checkout_progress">
        <%= checkout_progress %>
      </div>
    </div>

    <div data-hook="checkout_content">
      <div data-hook="checkout_form_wrapper">
        <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
          <% if @order.state == 'address' || !@order.email? %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <%= form.label :email %>
                  <%= form.email_field :email, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          <% end %>
          <%= form.hidden_field :state_lock_version %>
          <%= render @order.state, form: form %>
        <% end %>
      </div>
      <% if @order.state != 'confirm' %>
        <div id="checkout-summary" data-hook="checkout_summary_box">
          <%= render partial: 'summary', locals: { order: @order } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.token %>"
</script>
