<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="registration" class="row" data-hook>
  <div id="account" class="col-xs-12 col-sm-6 AuthView">
    <div id="new-customer" class="card-body" data-hook="login">
      <h1><%= Spree.t(:registration) %></h1>
      <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
        <div data-hook="signup_inside_form">
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <div class='button-wrapper'>
            <%= f.submit Spree.t(:create), :class => 'ButtonRadius --shadow --small --pink' %>
          </div>
        </div>
      <% end %>
      <div class="text-center" style='margin-bottom: 20px'>
        <%= Spree.t(:or) %>
          <%= link_to Spree.t(:login_as_existing), spree.login_path %>
      </div>
      <div data-hook="login_extras"></div>
    </div>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div class="col-xs-12 col-sm-6 AuthView">
      <div class="card">
        <h1><%= Spree.t(:guest_user_account) %></h1>
        <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
          <div class="form-group">
            <%= f.label :email, Spree.t(:email), class: 'required', title: 'required' %>
            <%= f.email_field :email, :class => 'form-control title', :placeholder => Spree.t(:email) %>
          </div>
          <div class='button-wrapper'>
            <%= f.submit Spree.t(:continue), :class => 'ButtonRadius --shadow --small --pink' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
