<script>
  MercadoPago.paymentMethodID = "<%= payment_method.id %>";
</script>

<p>
  <%= link_to I18n.t(:make_payment, scope: :mercado_pago), mercado_pago_checkout_path(payment_method_id: payment_method.id), method: :post %>
</p>


