<% content_for :page_title do %>
  <%= Spree.t(:config_cms) %>
<% end %>


<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to 'First Banner Home',
      '/admin/cms/banner-top',
      class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Other Tab Example',
      '/admin/cms/modal-promotion',
      class: "nav-link" %>
  </li>
<% end %>


<%= form_for @banner_top, url: {action: "banner_top_update"}, method: 'POST' do |f| %>
  <fieldset data-hook="banner_top_update">

      <h4>First Banner Home</h4>

      <br/>

      <%= f.field_container :description, class: ['form-group'] do %>
        <%= f.label :description, Spree.t(:banner_description) %> <span class="required">*</span>
        <%= f.text_field :description, class: 'form-control title', required: :required %>
        <%= f.error_message_on :description %>
      <% end %>

      <%= f.field_container :button_text, class: ['form-group'] do %>
        <%= f.label :button_text, Spree.t(:banner_button_text) %>
        <%= f.text_field :button_text, class: 'form-control title'%>
        <%= f.error_message_on :button_text %>
      <% end %>

      <%= f.field_container :button_link, class: ['form-group'] do %>
        <%= f.label :button_link, Spree.t(:banner_button_link) %>
        <%= f.text_field :button_link, class: 'form-control title'%>
        <%= f.error_message_on :button_link %>
      <% end %>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
      </div>

  </fieldset>
<% end %>
