<% content_for :page_title do %>
  <%= Spree.t(:config_cms) %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to 'Banner Top',
      '/admin/cms/banner-top',
      class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Modal Promotion',
      '/admin/cms/modal-promotion',
      class: "nav-link" %>
  </li>
<% end %>
