<%= form_for :order, html: { id: 'add-to-cart-form' } do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants">
        <h3 class="product-section-title --variants"><%= Spree.t(:variants) %>:</h3>
        <ul>
          <li>
            <%= radio_button_tag "variant_id", @product.master.id, true,
                'data-price' => @product.price_in(current_currency).money,
                'data-in-stock' => @product.can_supply?,
                'data-backordered' => @product.backordered?
            %>
            <%= label_tag "variant_id_#{ @product.id }" do %>
              Default
            <% end %>
          </li>
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, false,
                  'data-price' => variant.price_in(current_currency).money,
                  'data-in-stock' => variant.can_supply?,
                  'data-backordered' => variant.backordered?
              %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant.options_text %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>
                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) && !@product.price.nil? %>
      <div data-hook="product_price">
        <div id="product-price" class='product-price'>
          <h6 class="product-section-title"><%= Spree.t(:price) %>: </h6>
          <span class="product-price-value" itemprop="price" content="<%= @product.price_in(current_currency).amount.to_d %>">
            <%= display_price(@product) %>
          </span>
        </div>
        <% if @product.master.can_supply? %>
          <link itemprop="availability" href="https://schema.org/InStock" />
        <% elsif @product.variants.empty? %>
          <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
        <% end %>
        <% if @product.backordered? %>
          <div class="alert alert-warning" id="cart-backordered-info">
            <%= Spree.t(:backordered_info) %>
          </div>
        <% end %>
        <% if @product.can_supply? %>
          <div class="add-to-cart">
            <span class='cant-text'>Cant</span>
            <%= number_field_tag :quantity, 1, class: '', min: 1 %>
            <%= button_tag class: 'button-add-cart', id: 'add-to-cart-button', type: :submit, disabled: true do %>
              <%= Spree.t(:add_to_cart) %>
              <%= image_tag '/cart-mini.png' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div id="product-price">
        <br />
        <div>
          <span class="price selling" itemprop="price">
            <%= Spree.t('product_not_available_in_this_currency') %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
