<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<div id="product_<%= product.id %>" class="ProductPreviewCard --no-margin product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <% cache(taxon.present? ? [I18n.locale, current_currency, taxon, product] : cache_key_for_product(product)) do %>
    <div>
      <a href='<%= url %>'>
        <%= small_image(product, itemprop: "image") %>
      </a>
    </div>
    <div>
      <a href='<%= url %>'>
        <%= content_tag(:span, truncate(product.name, length: 50), class: 'product-mark', itemprop: "name", title: product.name) %>
      </a>
      <a href='<%= url %>'>
      <%= content_tag(:span, truncate(product.description, length: 50), class: 'product-name', itemprop: "description", title: product.description) %>
      </a>
    </div>
    <div>
      <div>
        <span class='product-price'><%= display_price(product) %></span>
      </div>
      <div>
        <button
          class='click-to-cart'
          data-id='<%= product.default_variant.id.to_s.to_html %>'
          data-image='<%= image_url  'spree/frontend/card_icon_added.png' %>'
          hidden
        >
          <%= image_tag  'spree/frontend/card_icon.png' %>
        </button>
      </div>
    </div>
  <% end %>
</div>
