<% promotions = @product.possible_promotions %>

<% if promotions.any? %>
  <div class='ProductShow PaddingSides --vertical' id="promotions">
    <h3><%= Spree.t(:promotions) %></h3>
    <% promotions.each do |promotion| %>
    <div class="well well-sm">
      <h4><%= promotion.name %></h4>
      <p><%= promotion.description %></p>
      <% if promotion.products.any? %>
        <ul>
          <% promotion.products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
