<% unless @product_properties.blank? %>
  <% @marca_property = @product_properties.find { |p| p.property.name == 'Marca' || p.property.name == 'marca' } %>
  <% unless @marca_property.nil? %>
    <h2 class='product-marca'><%=@marca_property.value.capitalize%></h2>
  <% end %>
<% end %>
