<% if @product.taxons.present? %>
  <h3><%= Spree.t(:look_for_similar_items) %></h3>
  <ul>
    <% @product.taxons.each do |taxon| %>
      <li><%= link_to taxon.name, seo_url(taxon) %></li>
    <% end %>
  </ul>
<% end %>
