<div id='LOADER' class='slider_product_loader' data-product-id='<%=@product.id%>'>
  <% if @product.images.any? %>
    <%= image_tag( main_app.url_for( @product.images[0].url(:large) ) ) %>
    <div class="loader"></div>
  <% end %>
</div>
<div id='SLIDER_PRODUCT_IMAGES_WRAPPER'></div>
