<% if spree_current_user %>
  <div id="wishlist-form" class='wishlist-form'>
    <%= form_for Spree::WishedProduct.new do |f| %>
      <%= f.hidden_field :variant_id, value: @product.master.id %>
      <%= f.hidden_field :quantity %>
      <button type="submit" class="button-add-wishlist">
        <%= Spree.t(:add_to_wishlist) %>
        <%= image_tag '/wishlist_mini.png' %>
      </button>
    <% end %>
  </div>
<% end %>
