<div class='ProductsView PaddingSides --vertical'>
  <% if "spree/products" == params[:controller] && @taxon || @taxonomies.present? %>
      <div class='sidebar-menu'>
        <% if "spree/products" == params[:controller] && @taxon %>
          <%= render partial: 'spree/shared/filters' %>
        <% else %>
          <%= render partial: 'spree/shared/taxonomies' %>
        <% end %>
      </div>
  <% end %>

  <% if params[:keywords] %>
    <div class='products-result-wrapper'>
      <% if @products.empty? %>
        <%= render partial: 'spree/shared/not_found_products' %>
      <% else %>
        <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
      <% end %>
    </div>
  <% else %>
    <div class='products-result-wrapper'>
      <% cache(cache_key_for_products) do %>
        <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
      <% end %>
    </div>
  <% end %>

</div>
