<% if cached_recently_viewed_products.any? %>
  <div class='PaddingSides' id="recently_viewed" data-hook>
    <div id="recently_viewed_products" class='recently_viewed_products_block'>
      <h5><%= Spree.t(:recently_viewed_products) %>:</h5>
      <%= image_tag 'spree/frontend/brillitos_diamante.png', class: 'image-rombo' %>
      <div class='product-row-wrapper'>
        <%= render partial: 'spree/products/product', collection: cached_recently_viewed_products, locals: { taxon: @taxon } %>
      </div>
    </div>
  </div>
<% end %>
