<style>
  .tns-outer#SLIDER_PRODUCT_IMAGES-ow {
    min-height: 300px;
  }
</style>

<div class='ProductShow PaddingSides --vertical'>
  <div>
    <%= render partial: 'tiny_slider_product_images' %>
  </div>
  <div>
    <%= render partial: 'render_optional_marca' %>
    <h1 class='product-name'><%= @product.name %></h1>
    <div id="cart-form" class='cart-form'>
      <%= render partial: 'cart_form' %>
      <%= render partial: 'wishlist_form' %>
    </div>
    <div class='product-description'><%= product_description(@product) %></div>
    <div class='product-taxons'><%= render partial: 'taxons' %></div>
  </div>
</div>
<%= render partial: 'promotions' %>
<div class='ProductShow PaddingSides --vertical'>
  <%= render partial: 'properties' %>
</div>
<% if @product.similar_products.any?%>
  <div class='PaddingSides'>
    <div class='product-related-products'>
      <%= render partial: 'spree/shared/star_svg' %>
      <h4>Productos relacionados:</h4>
      <div class='product-row-wrapper'>
        <%= render partial: 'spree/products/product', collection: @product.similar_products, locals: { taxon: nil }  %>
      </div>
    </div>
  </div>
<% end %>

<div id="recently_viewed_container" data-hook></div>

<script>
  $(document).ready(function(){
    Spree.fetch_recently_viewed_products('<%= @product.try(:id) %>');
  });
</script>
