<div class='ProductsView PaddingSides --vertical' >

  <div class='sidebar-menu'>
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>

  <div class='products-result-wrapper'>
    <div class='taxonomie-banner' style='background-image: url("<%= image_url '/taxos_banner.png' %>")'>
      <h1 class="taxon-title"><%= @taxon.name %></h1>
    </div>
    <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
  </div>

</div>
