<div class='NewestTitleWrapper'>
  <div class='left'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
  <h2>Mi <%= Spree.t(:wishlists) %></h2>
  <div class='right'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
</div>
<div class='WishlistShow PaddingSides'>
  <div class='list'>
  <% @wishlists.each do |wishlist| %>
    <div>
      <%= link_to(wishlist.name, wishlist) %>
        <span>Type: <%= wishlist.is_private ? Spree.t(:private) : Spree.t(:public) %></span>
        <span>Items: <%= wishlist.wished_products.length %></span>
    </div>
  <% end %>
  </div>
  <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, class: 'btn btn-pink ' %>
  <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-pink ' %>
</div>
