<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @wishlist } %>
<div class='NewestTitleWrapper --top'>
  <div class='left'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
  <div class='text-center'>
    <h2 class='--weight'><%= Spree.t(:creating_wishlist) %></h2>
    <p>Puedes crear una lista de productos que te gusten y hacerla publica para compartirla con tus amigos o privada.</p>
  </div>
  <div class='right'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
</div>

<div class='WishlistNew'>
  <%= form_for @wishlist do |f| %>
    <div class="form-group">
      <%= f.label :name, Spree.t(:name_of_your_wishlist), class: 'required', title: 'required' %>
      <%= f.text_field :name, class: 'form-control', tabindex: 1 %>
    </div>
    <div class="form-group">
    <%= f.check_box :is_private %>
    <%= f.label :is_private, Spree.t(:is_private), class: 'label-checkbox required', title: 'required'  %>
    </div>
    <div class='text-center'>
      <%= f.submit Spree.t(:create), :class => 'ButtonRadius --shadow --small --pink' %>
    </div>
  <% end %>
<div>
