<div class='WishlistShowItem'>

  <div>

    <div class='NewestTitleWrapper'>
      <div class='left'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
      <h2>

        <%= @wishlist.name %>

        <% if @wishlist.user == spree_current_user %>
          <a href='<%= edit_wishlist_path(@wishlist)%>' class='icon-anchor'>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z"/><path d="M0 0h24v24H0z" fill="none"/><path fill-opacity=".36" d="M0 20h24v4H0z" fill="#f246aa"/></svg>
          </a>
        <% end %>

      </h2>
      <div class='right'><%= image_tag '/stars.png' %></div>
    </div>

    <% if @wishlist.wished_products.size > 0 %>
    <div class='PaddingSides WishlistTableWrapper --vertical'>
      <table id="wishlist" class="table-wishlist table">
        <thead>
          <tr>
            <% if @wishlist.user == spree_current_user %>
              <th><%= Spree.t(:wishlist_actions) %></th>
            <% end %>
            <th><%= Spree.t(:item_view) %></th>
            <th><%= Spree.t(:item_description) %></th>
            <th><%= Spree.t(:availability) %></th>
            <th><%= Spree.t(:date_added) %></th>
            <th><%= Spree.t(:price) %></th>
            <th><%= Spree.t(:quantity) %></th>
            <th><%= Spree.t(:total) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="line_items">
        <% if @wishlist.wished_products.size > 0 %>
          <% @wishlist.wished_products.each do |wish|
              variant = wish.variant
              product = variant.product %>
          <tr class="<%= cycle('', 'alt') %>">
          <% if @wishlist.user == spree_current_user %>
            <td>
              <%= form_for :order, url: populate_orders_url do |f| %>
                <%= hidden_field_tag 'variant_id', variant.id, size: 3 %>
                <div class="form-group">
                  <%= f.label :quantity, 'Escribe la cantidad y agregala al carrito' %>
                  <%= number_field_tag 'quantity', wish.quantity, size: 3, class: 'form-control', id: 'order_quantity' %>
                </div>
                <%= link_to Spree.t(:add_to_cart), '#', onclick: '$(this).parent().submit(); return false;', class: 'btn btn-pink' %>
                <hr/>
              <% end %>
              <% if spree_current_user.wishlists.count > 1 %>
                <%= form_for wish do |f| %>
                  <div class="form-group">
                    <%= f.label :wishlist_id, 'Mueve esto a otra wishlist' %>
                    <%= f.select :wishlist_id, spree_current_user.wishlists.map{|wl| [wl.name, wl.id]} %>
                  </div>
                  <%= f.submit Spree.t(:move), class: 'btn btn-pink' %>
                <% end %>
              <% end %>
              <br />
            </td>
          <% end %>
            <td>
              <%= small_image(variant.product, itemprop: "image") %>
            </td>
            <td>
              <h4><%= link_to product.name, product %></h4>
              <p><%= variant.options_text %></p>
              <%= truncate(strip_tags(product.description), length: 100, omission: '...') %>
            </td>
            <td>
              <%= variant.can_supply? ? Spree.t(:in_stock) : Spree.t(:out_of_stock) %>
            </td>
            <td>
              <%= wish.created_at.strftime '%m/%d/%Y' %>
            </td>
            <td>
              <%= display_price(variant) %>
            </td>
            <td>
              <%= form_for wish do |f| %>
                <div class="form-group">
                  <%= f.number_field :quantity,  :class => 'form-control' %>
                </div>
                <%= f.submit Spree.t('actions.save'), :class => 'ButtonRadius --shadow --small --pink'  %>
              <% end %>
            </td>
            <td>
              <%= wish.display_total %>
            </td>
            <td>
              <a class='deleteItem' rel="nofollow" data-method="delete" href="/wished_products/<%= wish.id%>">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
              </a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    <% else %>
      <h3>
        <%= Spree.t(:your_wishlist_is_empty) %>
        <br/>
          <a href='<%= products_path%>'>
            Continue Shopping
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
          </a>
      </h3>
      <div class='imageBarita'><%= image_tag '/barita.png' %></div>
      <% if @wishlist.user == spree_current_user %>
        <div class='text-center'>
          <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, class: 'btn btn-pink' %>
        </div>
      <% end %>
    <% end %>
    <div class="footer_links" data-hook="wishlist_footer_links">
      <% if @wishlist.wished_products.size > 0 && respond_to?(:email_to_friend_url) %>
        <%= link_to Spree.t('email_to_friend.send_to_friend'), email_to_friend_path('wishlist', @wishlist), class: 'btn btn-pink' %>
      <% end %>
    </div>
  </div>
</div>
