<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class='AuthView'>
  <div>
    <h1>Edita tus datos</h1>
    <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
      <div class='button-wrapper'>
        <%= f.submit Spree.t(:update),  :class => 'ButtonRadius --shadow --small --pink' %>
      </div>
    <% end %>
  </div>
</div>
