<div class='PaddingSides MyAccount'>

  <h1><%=Spree.t(:my_account)%></h1>

  <div class='account-details'>
    <!-- EMAIL -->
    <div>
      <div>
        <span>
          <%= Spree.t(:email) %>
        </span>
        <span>
          <a href='<%= spree.edit_account_path %>'>
            Editar
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 17.2496V20.9996H6.75L17.81 9.93957L14.06 6.18957L3 17.2496ZM20.71 7.03957C21.1 6.64957 21.1 6.01957 20.71 5.62957L18.37 3.28957C17.98 2.89957 17.35 2.89957 16.96 3.28957L15.13 5.11957L18.88 8.86957L20.71 7.03957Z" fill="#F246AA"/>
            </svg>
          </a>
        </span>
      </div>
      <div>
        <span><%= @user.email %></span>
      </div>
    </div>
    <!-- CREDITO DE LA TIENDA -->
    <div>
      <div>
        <span>
          Crédito en la tienda
        </span>
      </div>
      <div>
        <span>
          <%= Spree::Money.new(spree_current_user.total_available_store_credit, currency: Spree::Config[:currency]) %>
        </span>
      </div>
    </div>
    <!-- CAMBIAR CONTRASENA -->
    <div>
      <span><%= link_to 'Cambiar contraseña', spree.edit_account_path %></span>
    </div>
    <!-- OTHER ACTIONS -->
    <div>
      <div>
        <span>
          <a href='<%= wishlists_path %>'>
            Ir a mi wish list
            <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.32959 0C2.36646 0 0 2.34204 0 5.1632C0 6.95384 0.505641 8.39989 2.13414 10.3064C3.79123 12.2463 6.54776 14.5882 11 18.1237C15.4522 14.5882 18.2088 12.2463 19.8659 10.3064C21.4944 8.39989 22 6.95384 22 5.1632C22 2.34204 19.6335 0 16.6704 0C14.1954 0 12.7998 1.33521 11.7393 2.49958L11 3.31137L10.2607 2.49958C9.20022 1.33521 7.80461 0 5.32959 0Z" fill="#ED018A"/>
            </svg>
          </a>
        </span>
      </div>
      <div>
        <span>
          <a href='<%= spree.cart_path %>'>
            Ir al carrito
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25023 1.87134C2.28359 2.03361 2.31707 2.19586 2.35066 2.35808C2.35278 2.36833 2.3549 2.37857 2.35702 2.38882C2.42263 2.70555 2.48865 3.02219 2.55503 3.33875C2.67366 3.9044 2.79345 4.46978 2.91418 5.03497C3.27849 6.74057 3.6512 8.44433 4.02533 10.1478C4.10043 10.4898 4.1756 10.8318 4.25076 11.1737C4.34546 11.6046 4.44016 12.0355 4.53475 12.4663C4.64579 12.9722 4.75667 13.478 4.86721 13.9839C4.91133 14.1858 4.95539 14.3877 4.99938 14.5897C5.0753 14.9372 5.37849 15.1844 5.72859 15.1843H18.8421C18.8497 15.1844 18.8573 15.1844 18.8648 15.1844C18.8774 15.1843 18.8898 15.1839 18.902 15.1833C19.4868 15.1553 19.704 14.5812 19.5538 14.1474C19.5402 14.108 19.5235 14.0697 19.5038 14.0331L19.5032 14.0322C19.39 13.8228 19.1773 13.6684 18.865 13.6658C18.8574 13.6657 18.8498 13.6657 18.8421 13.6658H6.32799L5.99742 12.1478H19.5038C19.7093 12.1479 19.8986 12.0627 20.0353 11.9221C20.1315 11.8231 20.2016 11.6967 20.233 11.5532L21.8868 3.96169C21.9899 3.48785 21.6354 3.03865 21.1581 3.03836C15.617 3.03849 10.0759 3.03826 4.535 3.03574C4.36263 3.03566 4.19025 3.03558 4.01787 3.0355L3.61195 1.07741C3.55146 0.785169 3.32809 0.556161 3.04123 0.492159L0.91778 0.0195893C0.913668 0.0186251 0.909549 0.0176958 0.905423 0.0168016C0.860845 0.00713942 0.815505 0.00157825 0.769944 0.000440095C-0.134764 -0.0275792 -0.294279 1.29092 0.571258 1.49744C0.576808 1.49876 0.5824 1.50004 0.588034 1.50127C0.591613 1.50205 0.59521 1.50282 0.598824 1.50356L2.25023 1.87134ZM13.8857 17.1843C13.8396 17.354 13.8149 17.5322 13.8149 17.7157C13.8149 18.8249 14.7153 19.7404 15.8062 19.7404C16.897 19.7404 17.7974 18.8249 17.7974 17.7157C17.7974 17.5322 17.7727 17.354 17.7266 17.1843C17.4942 16.3286 16.7165 15.691 15.8062 15.691C14.8958 15.691 14.1181 16.3286 13.8857 17.1843ZM10.7574 17.1843C10.525 16.3286 9.74728 15.691 8.8369 15.691C7.92652 15.691 7.14884 16.3286 6.91641 17.1843C6.87033 17.354 6.84568 17.5322 6.84568 17.7157C6.84568 18.8249 7.74603 19.7404 8.8369 19.7404C9.92777 19.7404 10.8281 18.8249 10.8281 17.7157C10.8281 17.5322 10.8035 17.354 10.7574 17.1843Z" fill="#F246AA"/>
            </svg>
          </a>
        </span>
      </div>
      <div>
        <span>
          <a href='<%= spree.logout_path %>'>
            Logout
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z" fill="#F246AA"/></svg>
          </a>
        </span>
      </div>
    </div>
  </div>
  <!-- END DETAILS BEGIN TABLE ORDERS -->
  <% if @orders.present? %>
    <h1>Orders</h1>
    <div class='table-scroll-table'>
      <table class="table table-striped order-summary">
        <thead class="active">
        <tr>
          <th class="order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
          <th class="order-date"><%= Spree.t(:date) %></th>
          <th class="order-status"><%= Spree.t(:status) %></th>
          <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
          <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
          <th class="order-total"><%= Spree.t(:total) %></th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="order-number"><%= link_to order.number, order_url(order) %></td>
            <td class="order-date"><%= l order.completed_at.to_date %></td>
            <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
            <td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
            <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
            <td class="order-total"><%= order.display_total %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
      <h1><%= Spree.t(:you_have_no_orders_yet) %> ... <a href='<%= spree.root_path%>'>Continue Buying</a></h1>
  <% end %>

</div>
