<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div class='AuthView'>
  <div>
    <h1>Regístrate</h1>
    <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
      <div data-hook="signup_inside_form">
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <div class='button-wrapper'><%= f.submit Spree.t(:create), :class => 'ButtonRadius --shadow --small --pink' %></div>
      </div>
    <% end %>
  </div>
</div>
