<% results.each do |product| %>
    <div id='results-taxo-body-wrapper' data-href_taxo='<%= spree.root_path%>t/<%= results_taxo.try(:id)%>'>
      <% url = spree.product_path(product, taxon_id: results_taxo.try(:id)) %>
      <div id="product_<%= product.id %>" class="ProductPreviewCard --no-margin product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
        <% cache(results_taxo.present? ? [I18n.locale, current_currency, results_taxo, product] : cache_key_for_product(product)) do %>
          <div>
            <% if (product.images + product.variant_images).uniq.size > 1 %>
                <% product.images.take(3).each do |i| %>
                    <%= link_to(image_tag(main_app.url_for(i.url(:medium)), class: "img-product"), url) %>
                <% end %>
                <% if product.images.length < 3 && product.has_variants? %>
                  <% product.variant_images.take(3 - product.images.length).each do |i| %>
                    <% next if product.images.include?(i) %>
                      <%= link_to(image_tag(main_app.url_for(i.url(:medium)), class: "img-product"), url) %>
                  <% end %>
                <% end %>
            <% else %>
              <a href='<%= url %>'>
                <%= small_image(product, itemprop: "image") %>
              </a>
            <% end %>
          </div>
          <div>
            <a href='<%= url %>'>
              <%= content_tag(:span, truncate(product.name, length: 120), class: 'product-mark', itemprop: "name", title: product.name) %>
            </a>
            <a href='<%= url %>'>
            <%= content_tag(:span, truncate(product.description, length: 300), class: 'product-name', itemprop: "description", title: product.description) %>
            </a>
          </div>
          <div>
            <div>
              <span class='product-price'><%= display_price(product) %></span>
            </div>
            <div>
              <button
                class='click-to-cart'
                data-id='<%= product.default_variant.id.to_s.to_html %>'
                data-image='<%= image_url  'spree/frontend/card_icon_added.png' %>'
                hidden
              >
                <%= image_tag  'spree/frontend/card_icon.png' %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
