<footer class='Footer'>
  <div>
    <h5>
      Paga con tu tarjeta de crédito,
      <strong>¡hasta con 12 cuotas!</strong>
    </h5>
    <%= image_tag '/ml-version-horizontal-small.png', alt: 'logo wishlist ecommerce makeup'  %>
  </div>
  <div>
  </div>
  <div>
    <h5 class='mt'>
      ¿Tienes alguna duda? Visita nuestra sección de preguntas frecuentes📋
    </h5>
  </div>
  <div class='greenwrapper'>
    <div class='left'>
      <div>
        <a href='#'>Home</a>
        <a href='#'>Cuidados de la piel</a>
        <a href='#'>Maquillaje</a>
        <a href='#'>Kits para ti</a>
      </div>
      <div>
        <a href='#'>Regístrate</a>
        <a href='#'>Inicia sesión</a>
        <a href='#'>Políticas generales</a>
      </div>
      <div>
        <a href='#'>Mis órdenes</a>
        <a href='#'>Wish List✨</a>
        <a href='#'>Carrito de compras</a>
      </div>
    </div>
    <div class='right'>
      <span>¡Síguenos en instagram!</span>

      <a href='wishlist.arg'>
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0ZM12.4822 7.51822C13.3924 7.4768 13.6833 7.46667 16.0008 7.46667H15.9981C18.3164 7.46667 18.6062 7.4768 19.5164 7.51822C20.4248 7.55982 21.0453 7.70365 21.5893 7.91467C22.1511 8.13245 22.6258 8.42401 23.1004 8.89868C23.5751 9.373 23.8667 9.84909 24.0853 10.4103C24.2951 10.9529 24.4391 11.573 24.4818 12.4815C24.5227 13.3917 24.5333 13.6826 24.5333 16.0001C24.5333 18.3176 24.5227 18.6078 24.4818 19.518C24.4391 20.4261 24.2951 21.0464 24.0853 21.5891C23.8667 22.1502 23.5751 22.6263 23.1004 23.1006C22.6263 23.5753 22.1509 23.8675 21.5898 24.0855C21.0469 24.2965 20.4261 24.4404 19.5176 24.482C18.6074 24.5234 18.3174 24.5335 15.9997 24.5335C13.6824 24.5335 13.3917 24.5234 12.4815 24.482C11.5732 24.4404 10.9529 24.2965 10.41 24.0855C9.84909 23.8675 9.37299 23.5753 8.89886 23.1006C8.42436 22.6263 8.1328 22.1502 7.91467 21.5889C7.70382 21.0464 7.56 20.4263 7.51822 19.5178C7.47697 18.6076 7.46666 18.3176 7.46666 16.0001C7.46666 13.6826 7.47733 13.3915 7.51804 12.4813C7.55893 11.5732 7.70293 10.9529 7.91449 10.4102C8.13316 9.84909 8.42472 9.373 8.89939 8.89868C9.3737 8.42419 9.8498 8.13263 10.411 7.91467C10.9536 7.70365 11.5737 7.55982 12.4822 7.51822Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.236 9.00457C15.3846 9.00434 15.5445 9.00441 15.7171 9.00449L16.0015 9.00457C18.2799 9.00457 18.55 9.01275 19.4497 9.05364C20.2817 9.09169 20.7333 9.23071 21.0341 9.34751C21.4323 9.50218 21.7162 9.68707 22.0147 9.98574C22.3134 10.2844 22.4983 10.5689 22.6533 10.9671C22.7701 11.2675 22.9093 11.7191 22.9472 12.5511C22.988 13.4507 22.9969 13.7209 22.9969 15.9982C22.9969 18.2756 22.988 18.5458 22.9472 19.4454C22.9091 20.2774 22.7701 20.729 22.6533 21.0294C22.4986 21.4276 22.3134 21.7112 22.0147 22.0097C21.716 22.3084 21.4325 22.4932 21.0341 22.6479C20.7336 22.7653 20.2817 22.9039 19.4497 22.942C18.5501 22.9829 18.2799 22.9917 16.0015 22.9917C13.7229 22.9917 13.4528 22.9829 12.5533 22.942C11.7213 22.9036 11.2697 22.7645 10.9687 22.6477C10.5705 22.4931 10.2861 22.3082 9.98738 22.0095C9.68871 21.7108 9.50382 21.4271 9.3488 21.0287C9.232 20.7283 9.09279 20.2767 9.05493 19.4447C9.01404 18.5451 9.00586 18.2749 9.00586 15.9961C9.00586 13.7173 9.01404 13.4485 9.05493 12.549C9.09297 11.717 9.232 11.2654 9.3488 10.9646C9.50346 10.5664 9.68871 10.2819 9.98738 9.98325C10.2861 9.68458 10.5705 9.49969 10.9687 9.34467C11.2695 9.22733 11.7213 9.08866 12.5533 9.05044C13.3405 9.01489 13.6456 9.00422 15.236 9.00244V9.00457ZM20.5566 10.4215C19.9912 10.4215 19.5325 10.8796 19.5325 11.4451C19.5325 12.0105 19.9912 12.4691 20.5566 12.4691C21.1219 12.4691 21.5806 12.0105 21.5806 11.4451C21.5806 10.8798 21.1219 10.4211 20.5566 10.4211V10.4215ZM11.6192 16.0002C11.6192 13.5801 13.5813 11.618 16.0013 11.6179C18.4214 11.6179 20.383 13.5801 20.383 16.0002C20.383 18.4203 18.4216 20.3816 16.0015 20.3816C13.5814 20.3816 11.6192 18.4203 11.6192 16.0002Z" fill="white"/>
          <path d="M16.0007 13.1558C17.5716 13.1558 18.8452 14.4292 18.8452 16.0002C18.8452 17.5711 17.5716 18.8447 16.0007 18.8447C14.4297 18.8447 13.1562 17.5711 13.1562 16.0002C13.1562 14.4292 14.4297 13.1558 16.0007 13.1558Z" fill="white"/>
        </svg>
        <span> wishlist.arg </span>
      </a>

    </div>
  </div>
  <div class='copyrightwrapper'>
    <span> Copyright WishList - 2019 Todos los derechos reservados ✨ </span>
  </div>
</footer>
