<div class="Header">
  <%# style='display: none' %>
  <div>
    <div>
      <a href='<%= spree.root_path%>'>
        <%= image_tag '/logo.png', alt: 'logo wishlist ecommerce makeup'  %>
      </a>
    </div>
    <div>
      <span>
        <a href='<%= spree.root_path + 't/cuidado-de-la-piel' %>'>Cuidado de la piel</a>
      </span>
    </div>
    <div>
      <span>
        <a href='<%= spree.root_path + 't/maquillaje' %>'>Maquillaje</a>
      </span>
    </div>
    <div>
      <span>
        <a href='<%= spree.root_path + 't/accesorios' %>'>Accesorios</a>
      </span>
    </div>
    <%= render partial: 'spree/shared/search' %>
  </div>
  <div id='MENU-NAVEGATION'>
    <% if spree_current_user %>
    <div>
      <div class="icon-heart-wrapper">
        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M5.32959 0C2.36646 0 0 2.34204 0 5.1632C0 6.95384 0.505641 8.39989 2.13414 10.3064C3.79123 12.2463 6.54776 14.5882 11 18.1237C15.4522 14.5882 18.2088 12.2463 19.8659 10.3064C21.4944 8.39989 22 6.95384 22 5.1632C22 2.34204 19.6335 0 16.6704 0C14.1954 0 12.7998 1.33521 11.7393 2.49958L11 3.31137L10.2607 2.49958C9.20022 1.33521 7.80461 0 5.32959 0Z"
            fill="#ED018A" />
        </svg>
      </div>
      <span>
        <%= link_to 'Wishlist', wishlists_path %>
      </span>
    </div>
    <div>
      <div class="icon-heart-wrapper">
        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="even" clip-rule="evenodd"
            d="M2.25023 1.87134C2.28359 2.03361 2.31707 2.19586 2.35066 2.35808C2.35278 2.36833 2.3549 2.37857 2.35702 2.38882C2.42263 2.70555 2.48865 3.02219 2.55503 3.33875C2.67366 3.9044 2.79345 4.46978 2.91418 5.03497C3.27849 6.74057 3.6512 8.44433 4.02533 10.1478C4.10043 10.4898 4.1756 10.8318 4.25076 11.1737C4.34546 11.6046 4.44016 12.0355 4.53475 12.4663C4.64579 12.9722 4.75667 13.478 4.86721 13.9839C4.91133 14.1858 4.95539 14.3877 4.99938 14.5897C5.0753 14.9372 5.37849 15.1844 5.72859 15.1843H18.8421C18.8497 15.1844 18.8573 15.1844 18.8648 15.1844C18.8774 15.1843 18.8898 15.1839 18.902 15.1833C19.4868 15.1553 19.704 14.5812 19.5538 14.1474C19.5402 14.108 19.5235 14.0697 19.5038 14.0331C19.5036 14.0328 19.5034 14.0325 19.5032 14.0322C19.39 13.8228 19.1773 13.6684 18.865 13.6658C18.8574 13.6657 18.8498 13.6657 18.8421 13.6658H6.32799L5.99742 12.1478H19.5038C19.7093 12.1479 19.8986 12.0627 20.0353 11.9221C20.1315 11.8231 20.2016 11.6967 20.233 11.5532L21.8868 3.96169C21.9899 3.48785 21.6354 3.03865 21.1581 3.03836C15.617 3.03849 10.0759 3.03826 4.535 3.03574C4.36263 3.03566 4.19025 3.03558 4.01787 3.0355L3.61195 1.07741C3.55146 0.785169 3.32809 0.556161 3.04123 0.492159L0.91778 0.0195893C0.913668 0.0186251 0.909549 0.0176958 0.905423 0.0168016C0.860845 0.00713942 0.815505 0.00157825 0.769944 0.000440095C-0.134764 -0.0275792 -0.294279 1.29092 0.571258 1.49744C0.576808 1.49876 0.5824 1.50004 0.588034 1.50127C0.591613 1.50205 0.59521 1.50282 0.598824 1.50356L2.25023 1.87134ZM13.8857 17.1843C13.8396 17.354 13.8149 17.5322 13.8149 17.7157C13.8149 18.8249 14.7153 19.7404 15.8062 19.7404C16.897 19.7404 17.7974 18.8249 17.7974 17.7157C17.7974 17.5322 17.7727 17.354 17.7266 17.1843C17.4942 16.3286 16.7165 15.691 15.8062 15.691C14.8958 15.691 14.1181 16.3286 13.8857 17.1843ZM10.7574 17.1843C10.525 16.3286 9.74728 15.691 8.8369 15.691C7.92652 15.691 7.14884 16.3286 6.91641 17.1843C6.87033 17.354 6.84568 17.5322 6.84568 17.7157C6.84568 18.8249 7.74603 19.7404 8.8369 19.7404C9.92777 19.7404 10.8281 18.8249 10.8281 17.7157C10.8281 17.5322 10.8035 17.354 10.7574 17.1843ZM4.95966 5.03593C5.32485 6.73913 5.69806 8.4414 6.07303 10.1478H18.4922L19.6053 5.03838C14.7236 5.03842 9.84163 5.03804 4.95966 5.03593Z"
            fill="#F246AA" />
        </svg>
      </div>
      <span>
        <%= link_to 'Cart', spree.cart_path %>
      </span>
    </div>
    <div>
      <div class="icon-heart-wrapper">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.2787 9.91602C4.70208 9.91602 0.148065 14.4181 0 19.9205H20.5573C20.4092 14.4181 15.8553 9.91602 10.2787 9.91602Z"
            fill="#F246AA" />
          <path
            d="M10.2795 9.3832C12.8665 9.3832 14.9712 7.27861 14.9712 4.69163C14.9712 2.10465 12.8665 0 10.2795 0C7.69255 0 5.58789 2.10465 5.58789 4.69163C5.58789 7.27861 7.69255 9.3832 10.2795 9.3832Z"
            fill="#F246AA" />
        </svg>
      </div>
      <span>
        <%= link_to Spree.t(:my_account), spree.account_path %>
      </span>
    </div>
    <% else %>
    <div>
      <div class="icon-heart-wrapper">
        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="even" clip-rule="evenodd"
            d="M2.25023 1.87134C2.28359 2.03361 2.31707 2.19586 2.35066 2.35808C2.35278 2.36833 2.3549 2.37857 2.35702 2.38882C2.42263 2.70555 2.48865 3.02219 2.55503 3.33875C2.67366 3.9044 2.79345 4.46978 2.91418 5.03497C3.27849 6.74057 3.6512 8.44433 4.02533 10.1478C4.10043 10.4898 4.1756 10.8318 4.25076 11.1737C4.34546 11.6046 4.44016 12.0355 4.53475 12.4663C4.64579 12.9722 4.75667 13.478 4.86721 13.9839C4.91133 14.1858 4.95539 14.3877 4.99938 14.5897C5.0753 14.9372 5.37849 15.1844 5.72859 15.1843H18.8421C18.8497 15.1844 18.8573 15.1844 18.8648 15.1844C18.8774 15.1843 18.8898 15.1839 18.902 15.1833C19.4868 15.1553 19.704 14.5812 19.5538 14.1474C19.5402 14.108 19.5235 14.0697 19.5038 14.0331C19.5036 14.0328 19.5034 14.0325 19.5032 14.0322C19.39 13.8228 19.1773 13.6684 18.865 13.6658C18.8574 13.6657 18.8498 13.6657 18.8421 13.6658H6.32799L5.99742 12.1478H19.5038C19.7093 12.1479 19.8986 12.0627 20.0353 11.9221C20.1315 11.8231 20.2016 11.6967 20.233 11.5532L21.8868 3.96169C21.9899 3.48785 21.6354 3.03865 21.1581 3.03836C15.617 3.03849 10.0759 3.03826 4.535 3.03574C4.36263 3.03566 4.19025 3.03558 4.01787 3.0355L3.61195 1.07741C3.55146 0.785169 3.32809 0.556161 3.04123 0.492159L0.91778 0.0195893C0.913668 0.0186251 0.909549 0.0176958 0.905423 0.0168016C0.860845 0.00713942 0.815505 0.00157825 0.769944 0.000440095C-0.134764 -0.0275792 -0.294279 1.29092 0.571258 1.49744C0.576808 1.49876 0.5824 1.50004 0.588034 1.50127C0.591613 1.50205 0.59521 1.50282 0.598824 1.50356L2.25023 1.87134ZM13.8857 17.1843C13.8396 17.354 13.8149 17.5322 13.8149 17.7157C13.8149 18.8249 14.7153 19.7404 15.8062 19.7404C16.897 19.7404 17.7974 18.8249 17.7974 17.7157C17.7974 17.5322 17.7727 17.354 17.7266 17.1843C17.4942 16.3286 16.7165 15.691 15.8062 15.691C14.8958 15.691 14.1181 16.3286 13.8857 17.1843ZM10.7574 17.1843C10.525 16.3286 9.74728 15.691 8.8369 15.691C7.92652 15.691 7.14884 16.3286 6.91641 17.1843C6.87033 17.354 6.84568 17.5322 6.84568 17.7157C6.84568 18.8249 7.74603 19.7404 8.8369 19.7404C9.92777 19.7404 10.8281 18.8249 10.8281 17.7157C10.8281 17.5322 10.8035 17.354 10.7574 17.1843ZM4.95966 5.03593C5.32485 6.73913 5.69806 8.4414 6.07303 10.1478H18.4922L19.6053 5.03838C14.7236 5.03842 9.84163 5.03804 4.95966 5.03593Z"
            fill="#F246AA" />
        </svg>
      </div>
      <span>
        <%= link_to 'Cart', spree.cart_path %>
      </span>
    </div>
    <div>
      <div class="icon-heart-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            fill='#f246aa' /></svg>
      </div>
      <span>
        <%= link_to Spree.t(:register), spree.signup_path %>
      </span>
    </div>
    <div>
      <div class="icon-heart-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M17.81 4.47c-.08 0-.16-.02-.23-.06C15.66 3.42 14 3 12.01 3c-1.98 0-3.86.47-5.57 1.41-.24.13-.54.04-.68-.2-.13-.24-.04-.55.2-.68C7.82 2.52 9.86 2 12.01 2c2.13 0 3.99.47 6.03 1.52.25.13.34.43.21.67-.09.18-.26.28-.44.28zM3.5 9.72c-.1 0-.2-.03-.29-.09-.23-.16-.28-.47-.12-.7.99-1.4 2.25-2.5 3.75-3.27C9.98 4.04 14 4.03 17.15 5.65c1.5.77 2.76 1.86 3.75 3.25.16.22.11.54-.12.7-.23.16-.54.11-.7-.12-.9-1.26-2.04-2.25-3.39-2.94-2.87-1.47-6.54-1.47-9.4.01-1.36.7-2.5 1.7-3.4 2.96-.08.14-.23.21-.39.21zm6.25 12.07c-.13 0-.26-.05-.35-.15-.87-.87-1.34-1.43-2.01-2.64-.69-1.23-1.05-2.73-1.05-4.34 0-2.97 2.54-5.39 5.66-5.39s5.66 2.42 5.66 5.39c0 .28-.22.5-.5.5s-.5-.22-.5-.5c0-2.42-2.09-4.39-4.66-4.39-2.57 0-4.66 1.97-4.66 4.39 0 1.44.32 2.77.93 3.85.64 1.15 1.08 1.64 1.85 2.42.19.2.19.51 0 .71-.11.1-.24.15-.37.15zm7.17-1.85c-1.19 0-2.24-.3-3.1-.89-1.49-1.01-2.38-2.65-2.38-4.39 0-.28.22-.5.5-.5s.5.22.5.5c0 1.41.72 2.74 1.94 3.56.71.48 1.54.71 2.54.71.24 0 .64-.03 1.04-.1.27-.05.53.13.58.41.05.27-.13.53-.41.58-.57.11-1.07.12-1.21.12zM14.91 22c-.04 0-.09-.01-.13-.02-1.59-.44-2.63-1.03-3.72-2.1-1.4-1.39-2.17-3.24-2.17-5.22 0-1.62 1.38-2.94 3.08-2.94 1.7 0 3.08 1.32 3.08 2.94 0 1.07.93 1.94 2.08 1.94s2.08-.87 2.08-1.94c0-3.77-3.25-6.83-7.25-6.83-2.84 0-5.44 1.58-6.61 4.03-.39.81-.59 1.76-.59 2.8 0 .78.07 2.01.67 3.61.1.26-.03.55-.29.64-.26.1-.55-.04-.64-.29-.49-1.31-.73-2.61-.73-3.96 0-1.2.23-2.29.68-3.24 1.33-2.79 4.28-4.6 7.51-4.6 4.55 0 8.25 3.51 8.25 7.83 0 1.62-1.38 2.94-3.08 2.94s-3.08-1.32-3.08-2.94c0-1.07-.93-1.94-2.08-1.94s-2.08.87-2.08 1.94c0 1.71.66 3.31 1.87 4.51.95.94 1.86 1.46 3.27 1.85.27.07.42.35.35.61-.05.23-.26.38-.47.38z"
            fill='#f246aa' />
          <path fill="none" d="M0 0h24v24H0z" /></svg>
      </div>
      <span>
        <%= link_to Spree.t(:login), spree.login_path %>
      </span>
    </div>
    <% end %>
  </div>
  <div>
    <button id='MANU_BAR'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" fill='#17C079' /></svg>
    </button>
  </div>
</div>
<button class='HeaderMobileMenuButton' id='BUTTON-TOGGLE-MOBILE' type='button'>
  <svg fill='white' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
  <svg class='close-svg' fill='white' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  <span>Menú</span>
</button>
<div class='HeaderMobileMenuContent' id='MENU-MOBILE'>
  <nav>
    <div>
      <a href='<%= spree.root_path %>'>Inicio</a>
    </div>
    <div>
      <a href='<%= spree.root_path + 't/cuidado-de-la-piel' %>'>Cuidado de la piel</a>
    </div>
    <div>
      <a href='<%= spree.root_path + 'products' %>'>Todos los productos</a>
    </div>
    <div>
      <a href='<%= spree.root_path + 't/maquillaje' %>'>Maquillaje</a>
    </div>
    <div>
      <a href='<%= spree.root_path + 't/accesorios' %>'>Accesorios</a>
    </div>
    <% if spree_current_user %>
    <div>
      <%= link_to 'Wishlist', wishlists_path %>
    </div>
    <div>
      <%= link_to Spree.t(:my_account), spree.account_path %>
    </div>
    <div>
      <a href='<%= spree.logout_path %>'> Logout </a>
    </div>
    <% else %>
    <div>
      <%= link_to Spree.t(:register), spree.signup_path %>
    </div>
    <div>
      <%= link_to Spree.t(:login), spree.login_path %>
    </div>
    <% end %>
  </nav>
</div>
<div class='HeaderMobile'>
  <div>
    <a href='<%= spree.root_path %>'>
      <svg  fill='#6B6B6B' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
  </div>
  <div>
    <a href='<%= spree.root_path + 'cart' %>'>
      <svg fill='#6B6B6B' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
        <path d="M0 0h24v24H0z" fill="none" /></svg>
    </a>
  </div>
    <div>
      <button id='BUTTON-FILTER-HEADER-MOBILE'>
        <svg xmlns="http://www.w3.org/2000/svg" fill="#6B6B6B" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </button>
    </div>
</div>
