<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>
<%= javascript_include_tag 'spree/frontend/all' %>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Poppins:400,900&display=swap" rel="stylesheet">
<%= yield :head %>
<%= render 'spree/shared/translations' %>
