<div class='HomeBanner PaddingSides'>
  <div>
    <div>
      <%= image_tag '/piel_radiante.jpg' %>
    </div>
  </div>
  <div>
    <div>
      <h3>
        <%= @first_banner_home.description %>
      </h3>
      <a href='<%= @first_banner_home.button_link %>'>
        <%= @first_banner_home.button_text %>
      </a>
    </div>
  </div>
</div>
