<div class='TaxoBodyParts PaddingSides'>
  <!-- TAGS NAV -->
  <div>
    <div>
      <% ["Piel", "Rostro", "Labios", "Pestañas", "Cejas", "Ojos"].each do |i| %>
          <div>
            <button type='button' class='ButtonRadius --small <%= i == 'Ojos' ? '--normal' : '--noactive'%> fetchTaxoBody' data-taxo='<%= i %>'>
              <%= i %>
            </button>
          </div>
      <% end %>
    </div>
  </div>

  <!-- PRODUCTS -->
  <div id='productsBodyTaxo'>
    <%= render partial: 'spree/shared/body_taxonomy_results', locals: { results: @products_ojos, results_taxo: @taxo_ojos } %>
  </div>

  <!-- SEE MORE -->
  <div class='see-more-wrapper'>
    <a href='<%= spree.root_path%>t/<%= @taxo_ojos.try(:id)%>'>
      Descubre mas!
    </a>
  </div>
</div>
