<div class='HomeFeaturesRow PaddingSides'>
  <div>
    <span>
      <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M33.9878 4.5L24.4024 0.109756C24.0365 -0.0365854 23.6341 -0.0365854 23.3048 0.109756L13.7195 4.5C13.2439 4.71951 12.9512 5.19512 12.9512 5.70732V18.2927C12.9512 18.8049 13.2439 19.2805 13.7195 19.5L23.3048 23.8902C23.4878 23.9634 23.6707 24 23.8536 24C24.0365 24 24.2195 23.9634 24.4024 23.8902L33.9878 19.5C34.4634 19.2805 34.756 18.8049 34.756 18.2927V5.70732C34.756 5.19512 34.4634 4.71951 33.9878 4.5ZM23.8536 2.81707L30.2195 5.7439L23.8536 8.67073L17.4878 5.7439L23.8536 2.81707ZM15.6219 7.79268L22.5365 10.939V20.5976L15.6219 17.4512V7.79268ZM25.1707 20.5976V10.939L32.0853 7.79268V17.4512L25.1707 20.5976Z" fill="#F467B9"/>
      <path d="M9.29359 5.48779H5.74481C5.0131 5.48779 4.42773 6.07316 4.42773 6.80487C4.42773 7.53657 5.0131 8.12194 5.74481 8.12194H9.29359C10.0253 8.12194 10.6107 7.53657 10.6107 6.80487C10.6472 6.10974 10.0253 5.48779 9.29359 5.48779Z" fill="#F467B9"/>
      <path d="M9.2934 10.6826H3.54949C2.81779 10.6826 2.23242 11.268 2.23242 11.9997C2.23242 12.7314 2.81779 13.3168 3.54949 13.3168H9.32998C10.0617 13.3168 10.6471 12.7314 10.6471 11.9997C10.6471 11.268 10.0251 10.6826 9.2934 10.6826Z" fill="#F467B9"/>
      <path d="M9.29268 15.8418H1.31707C0.585366 15.8418 0 16.4272 0 17.1589C0 17.8906 0.585366 18.4759 1.31707 18.4759H9.29268C10.0244 18.4759 10.6098 17.8906 10.6098 17.1589C10.6463 16.4272 10.0244 15.8418 9.29268 15.8418Z" fill="#F467B9"/>
      </svg>
    </span>
    <span class='text'>Envíos a todo el país </span>
  </div>
  <div>
    <span>
      <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2916 4.3733e-05C10.259 -0.000423591 10.2264 0.00285652 10.1945 0.00978193L0.337334 2.15263C0.241745 2.17347 0.156161 2.22636 0.0947968 2.30256C0.0334325 2.37875 -1.87053e-05 2.47369 7.84704e-09 2.57152C7.84704e-09 9.67327 0.745134 14.238 2.40486 17.4468C4.06459 20.6556 6.6448 22.4463 10.1142 23.9642C10.1683 23.9878 10.2267 24 10.2857 24C10.3448 24 10.4032 23.9878 10.4573 23.9642C13.9267 22.4463 16.5069 20.6556 18.1666 17.4468C19.8264 14.238 20.5715 9.67327 20.5715 2.57152C20.5714 2.47375 20.538 2.37888 20.4766 2.30276C20.4152 2.22663 20.3297 2.1738 20.2342 2.15298L10.377 0.0100785C10.3489 0.00398699 10.3203 0.000761083 10.2916 0.00038976L10.2916 4.3733e-05ZM15.8195 5.67529C16.9919 5.64062 17.5947 7.06516 16.7537 7.88264L9.4805 15.1558C8.97839 15.6577 8.16453 15.6577 7.66242 15.1558L4.32926 11.8227C3.06675 10.6109 4.93556 8.74203 6.14734 10.0045L8.57146 12.4287L14.9356 6.06452C15.1685 5.82485 15.4855 5.68523 15.8195 5.67529Z" fill="#17C079"/>
      </svg>
    </span>
    <span class='text'>Seguridad en tus pagos</span>
  </div>
  <div>
    <span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M23 6H20.445C20.805 5.39473 20.9966 4.70422 21 4C21 2.93913 20.5786 1.92172 19.8284 1.17157C19.0783 0.421427 18.0609 0 17 0C16.0093 0.000724736 15.0342 0.246765 14.1617 0.716154C13.2892 1.18554 12.5465 1.86367 12 2.69C11.4535 1.86367 10.7108 1.18554 9.83832 0.716154C8.96585 0.246765 7.99072 0.000724736 7 0C5.93913 0 4.92172 0.421427 4.17157 1.17157C3.42143 1.92172 3 2.93913 3 4C3.00341 4.70422 3.19502 5.39473 3.555 6H1C0.734784 6 0.48043 6.10536 0.292893 6.29289C0.105357 6.48043 0 6.73478 0 7V12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H2V21C2 21.7956 2.31607 22.5587 2.87868 23.1213C3.44129 23.6839 4.20435 24 5 24H19C19.7956 24 20.5587 23.6839 21.1213 23.1213C21.6839 22.5587 22 21.7956 22 21V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12V7C24 6.73478 23.8946 6.48043 23.7071 6.29289C23.5196 6.10536 23.2652 6 23 6ZM17 2C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4C19 4.53043 18.7893 5.03914 18.4142 5.41421C18.0391 5.78929 17.5304 6 17 6H13C13 4.93913 13.4214 3.92172 14.1716 3.17157C14.9217 2.42143 15.9391 2 17 2ZM5 4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2C8.06087 2 9.07828 2.42143 9.82843 3.17157C10.5786 3.92172 11 4.93913 11 6H7C6.46957 6 5.96086 5.78929 5.58579 5.41421C5.21071 5.03914 5 4.53043 5 4ZM2 8H11V11H2V8ZM4 21V13H11V22H5C4.73478 22 4.48043 21.8946 4.29289 21.7071C4.10536 21.5196 4 21.2652 4 21ZM20 21C20 21.2652 19.8946 21.5196 19.7071 21.7071C19.5196 21.8946 19.2652 22 19 22H13V13H20V21ZM22 11H13V8H22V11Z" fill="#F467B9"/>
      </svg>
    </span>
    <span class='text'>Retiros en capital</span>
  </div>
</div>
