
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve">
<path fill='#17C079' d="M288.843,91.044h-76.088H88.088v-3.987c0-32.356,26.324-58.68,58.68-58.68h1.307c20.758,0,40.177,11.143,50.679,29.078
	c1.674,2.86,5.348,3.82,8.209,2.146c2.859-1.674,3.82-5.35,2.146-8.209c-12.646-21.599-36.033-35.016-61.034-35.016h-1.307
	c-38.973,0-70.68,31.707-70.68,70.68v3.987H6c-3.313,0-6,2.687-6,6v175.421c0,3.313,2.687,6,6,6h282.843c3.313,0,6-2.687,6-6V97.044
	C294.843,93.731,292.156,91.044,288.843,91.044z M282.843,266.465H12V103.044h70.088h130.667h70.088V266.465z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
