<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <fieldset id="password-credentials">
    <div class="form-group">
      <%= f.label :email, Spree.t(:email), class: 'required', title: 'required' %>
      <%= f.email_field :email, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
    </div>
    <div class="form-group">
      <%= f.label :password, Spree.t(:password), class: 'required', title: 'required' %>
      <%= f.password_field :password, class: 'form-control', tabindex: 2, placeholder: Spree.t(:password) %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, Spree.t(:remember_me) %>
      </label>
      <span class='recover-text'><%= link_to Spree.t(:recover_password), spree.recover_password_path %><span>
    </div>
    <div class='button-wrapper'><%= f.submit Spree.t(:login), :class => 'ButtonRadius --shadow --small --pink' %></div>
  </fieldset>
<% end %>
