<div class='NewestTitleWrapper'>
  <div class='left'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
  <h2>Conoce lo nuevo que tenemos para vos</h2>
  <div class='right'><%= image_tag 'spree/frontend/brillitos_diamante.png' %></div>
</div>

<div class='NewestSliderWrapper PaddingSides'>
  <div id='SLIDER_HOME_NEWS_PRODUCTS'>
    <% @slider_novedades_products.each do |product| %>
      <div>
        <%= render partial: 'spree/products/product',  locals: { taxon: @slider_novedades, product: product } %>
      </div>
    <% end %>
  </div>
</div>
