<div class='ProductPreviewCard'>
    <div>
      <img src='https://media.self.com/photos/57d6e89b46d0cb351c8c46b4/4:3/w_728/makeup-skin-tone-feat-870x645.jpg'/>
      <div class='overlay-link'>
        <button>Vista Previa</button>
      </div>
    </div>
    <div>
      <span class='product-mark'>MORPHE</span>
      <span class='product-name'>15s Social Butterfly Artistry Palette</span>
    </div>
    <div>
      <div>
        <span class='product-price'>3500$</span>
      </div>
      <div>
        <%= image_tag  'spree/frontend/card_icon.png' %>
      </div>
    </div>
  </div>
