<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag spree.products_path, method: :get, class: "HeaderSearch" do %>
  <div></div>
  <% cache [I18n.locale, @taxons] do %>
    <%= select_tag :taxon,
          options_for_select([[Spree.t(:all_departments), '']] +
                                @taxons.map {|t| [t.name, t.id]},
                                @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon' %>
  <% end %>
  <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: "" %>
  <button>
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.5006 10.9996H11.7106L11.4306 10.7296C12.6306 9.32965 13.2506 7.41965 12.9106 5.38965C12.4406 2.60965 10.1206 0.389649 7.32063 0.049649C3.09063 -0.470351 -0.469374 3.08965 0.0506256 7.31965C0.390626 10.1196 2.61063 12.4396 5.39063 12.9096C7.42063 13.2496 9.33063 12.6296 10.7306 11.4296L11.0006 11.7096V12.4996L15.2506 16.7496C15.6606 17.1596 16.3306 17.1596 16.7406 16.7496C17.1506 16.3396 17.1506 15.6696 16.7406 15.2596L12.5006 10.9996ZM6.50063 10.9996C4.01063 10.9996 2.00063 8.98965 2.00063 6.49965C2.00063 4.00965 4.01063 1.99965 6.50063 1.99965C8.99063 1.99965 11.0006 4.00965 11.0006 6.49965C11.0006 8.98965 8.99063 10.9996 6.50063 10.9996Z" fill="white"/>
    </svg>
  </button>
<% end %>
