<div class="Slider PaddingSides" id="SLIDER_HOME_3_ITEMS">
  <div class="ITEM-1 --active">
    <div>
      <%= image_tag 'spree/frontend/skincare_giftcard.png' %>
    </div>

    <div>
      <div>
        <h1>
          Regala con WishList, hasta <span>4500$</span> en nuestros productos.
          ¡Elige ya la tuya!
        </h1>
        <div class="buttons-group">
          <div>
            <%= render partial: 'spree/shared/button_radius', locals: {text:
            '2500'} %>
          </div>
          <div>
            <%= render partial: 'spree/shared/button_radius', locals: {text:
            '3500', type: 'pink'} %>
            <div class="popular">
              <svg
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                  fill="#ED018A"
                />
              </svg>

              <span>Opción más popular</span>
            </div>
          </div>
          <div>
            <%= render partial: 'spree/shared/button_radius', locals: {text:
            '4500'} %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ITEM-2" hidden>
    <div>
      <%= image_tag '/rostro.jpg' %>
    </div>

    <div>
      <div>
        <span>Porque tu rostro es un lienzo, llenáte de arte</span>
      </div>
      <div>
        <div class='product-row-wrapper --flex-slider'>
          <%= render partial: 'spree/products/product', collection: @slider_rostro_products, locals: { taxon: @slider_rostro } %>
        </div>
      </div>
    </div>
  </div>

  <div class="ITEM-3" hidden>
    <div>
      <%= image_tag '/piel.jpg' %>
    </div>

    <div>
      <div>
        <span
          >Nutre tu piel con nuestros productos estrella. Selecciona tu tipo de
          piel:</span
        >
      </div>
      <div>
        <div class='product-row-wrapper --flex-slider'>
          <%= render partial: 'spree/products/product', collection: @slider_piel_products, locals: { taxon: @slider_piel } %>
        </div>
      </div>
    </div>
  </div>

  <div class="dots">
    <div class="dot --active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
