<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<button class='hide-mobile-sidebar' id='HIDE-MOBILE-SIDEBAR'>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
</button>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <% unless taxonomy.root.name.start_with?('__')%>
        <% if taxonomy.root.children.any? %>
          <h4 class='taxonomy-root'>
            <%= link_to(taxonomy.root.name + ' :', seo_url(taxonomy.root))%>
          </h4>
          <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</nav>
