<% @body_id = 'home-page' %>

<%= render partial: 'spree/shared/slider' %>
<%= render partial: 'spree/shared/home_features_row' %>
<%= render partial: 'spree/shared/newest_slider' %>
<%= render partial: 'spree/shared/home_banner' %>
<%= render partial: 'spree/shared/home_taxo_body_parts' %>
<%= render partial: 'spree/shared/home_publicidad' %>
