<% @body_id = 'login' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div class='AuthView'>
  <div>
    <h1>Login</h1>
    <%= render :partial => 'spree/shared/login' %>
  </div>
</div>
